
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
html,body{
    height: 100%;
    width: 100%;
    color: black;
}
a{
    text-decoration: none;
    color: inherit;
    font: inherit;
    font-family: inherit;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: rgba(127, 255, 212, 0.484);
    height:10vh;
}
.rightnav{
    display: flex;
    align-items: center;
    gap: 10%;
    width: 20vw;
}


/*  */

.form-container {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    margin: 0 auto; /* Center horizontally */
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    color: #3498db;
  }
  
  .inputbox {
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #333;
  }
  
  input,
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  /*  */

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead {
    background-color: #3498db;
    color: #fff;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:hover {
    background-color: #f5f5f5;
  }
  
  tbody tr:nth-child(even) {
    background-color: #ecf0f1;
  }
  
  .btn {
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }